
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/AboutUs.css" rel="stylesheet" />
}

<header>
    <h1>INTRODUCE</h1>
</header>

<div class="container">
    <div class="container-fluid">
        <div style="width: 100%">
            <p>
                Sky Gazing Company
                is a company specializing in providing issues related to astronomy, exploring planets and stars, newly established in the industry, officially operating since the end of 2022 - made by a team of Freelancers.
            </p>
        </div>
        <div class="photo-card">
            <div class="content">
                <p>Currently, Sky Gazing is the main research company on astronomical issues, extraterrestrial issues.</p>
                <br />
                <p>The research website provides readers with information on planets, stars, astronomical events, observatories, moons, and issues related to astronomy.</p>
                <br />
                <p>
                    Sky Gazing is a young, dynamic enterprise with passionate, creative and enthusiastic members. From a few employees on the first day of establishment, up to now, the company has had
                    a large number of employees, together contributing to the development of the company, becoming a leading media and human resources company in Vietnam.
                </p>
                <br />
                <p>
                    We always keep in mind, focus on the wishes and needs of
                    customers to provide complete information, update information quickly and accurately.
                </p>
            </div>
            <div class="image">
                <img src="https://img.lovepik.com/photo/50047/0501.jpg_wh860.jpg" />
            </div>
        </div>
        <div>
            <p>
                Sky Gazing is the premier source for space exploration, innovation, and astronomy news, chronicling (and celebrating) humanity's relentless expansion across the final frontier.
                We transport our visitors across the solar system and beyond through accessible, comprehensive coverage of the latest news and discoveries. For us, space exploration is like a journey as
                well as a destination. So, from skywatching guides and stunning photos of the night sky to rocket launches and breaking news about robotic probes visiting other planets, at Sky Gazing , you will find something great every day.
            </p>
            <br />
        </div>
        <div class="photo-card">
            <div class="content">
                <h2>Astronomy</h2>
                <br />
                <p>Astronomy is a fundamental science that studies the universe along with the formation, structure and evolution of celestial bodies and celestial systems in the universe.</p>
                <br />
                <p>
                    Astronomy is divided into three main research directions: astrophysics, astrometrics and celestial mechanics. Using knowledge of physics, mathematics (mechanics) to study celestial bodies in the universe and develop astronomical
                    observation techniques. This major mainly studies rich natural scientific cultural knowledge, worldview affecting humanity. In terms of application, the research results of this major are widely applied in information satellites, aerospace, ...
                </p>
            </div>
            <div class="image">
                <img src="https://lytuong.net/wp-content/uploads/2021/06/nganh-thien-van-hoc-3.jpg" />
            </div>
        </div>
    </div>
</div>

