
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container">
    <div class="container-fluid">
        <!--Image-->
        <div class="Image">
            <h1>When to go stargazing</h1>
        </div>

        <div class="container-midle">
            <div class="content">
                <h2>When is best to stargaze?</h2>
                <br />
                <p>Several factors will affect your stargazing experience. Here we share hints and tips on making your stargazing trip worthwhile and help you choose when is the best time to go stargazing.</p>
                <br />
                <h2>Moonlight</h2>
                <br />
                <p>Natural moonlight washes out the light from most stars leaving only the brightest visible and is most noticeable around the time of the full-Moon. When the Moon is at its brightest fewer stars can be seen. Therefore, the time during full Moon is the worst time to stargaze — at this time, even dark sky sites free from artificial light pollution are no darker than a city centre!</p>
                <br />
                <p class="text-blue">The best time to go stargazing is the days before, during and soon after each new Moon, when there is no Moon in the sky.</p>
                <br />
                <p>During these times, there is no bright Moon to wash out the light from fainter stars. As a result, you will be able to see thousands of stars with just your naked eye, this compared to just a few hundred at other times.</p>
                <br />
                <img src="https://www.asc-csa.gc.ca/images/blogue/2018/2018-06-29-13-superbes-sites-facebook.jpg" />
                <br /><br />
                <p>
                    It’s also the best time to see the Milky Way arching across the sky (depending on the time of year and time of night). You will have far better views of fainter objects such as galaxies, nebulae and star clusters when using a telescope during a new Moon period.

                    If you want to see star-filled skies, avoiding times around the full Moon will mean you see more.
                </p>
                <br />
                <h2>Summer twilight</h2>
                <br />
                <p>
                    Summer months mean long days and short nights and, therefore, significantly reduce stargazing opportunities. Hours of morning and evening twilight are longer during the summer. The skies take longer to get dark after sunset and get lighter earlier before sunrise leaving only a short period to view dark skies. Around the summer solstice (the longest day), it hardly gets dark at all!
                </p>
                <br />
                <img src="https://gostargazing.co.uk/wp-content/uploads/2021/04/when-to-go-stargazing-summer-twilight.jpg" />
                <br /><br />
                <h2>Observing season</h2>
                <br />
                <p>Autumn, Winter and Spring offer the best times to stargaze, and many astronomers refer to an ‘observing season’. From the time clocks go back in October (nights become 1-hour longer) to the time they go forward in March (nights become 1-hour shorter). As a result, you will find most stargazing events organised during this period — indeed, many non-commercial observatories stay closed during the summer months as it simply doesn’t get dark when the public can visit.</p>
                <br />
                <h2>Helping decide when is best</h2>
                <br />
                <p>Considering all of the above factors can be tricky to decide when to go stargazing! To help, we have created a dark sky calendar that shows, month by month, when the skies will be dark. Our calendar shows what time the skies will be dark and for how long. If you’re ever planning a stargazing trip, make sure you check our calendar first, especially if you are travelling some distance!</p>
                <br />
                <h2>Planning a stargazing trip?</h2>
                <br />
                <p>If you are thinking of travelling to a remote dark sky site or observatory, use our dark sky calendar to identify those dates which are going to be free of moonlight and twilight. Once you’ve identified the best dates have a look at where you might go stargazing for advice on locations and what you should take with you.</p>
                <br />
                <img src="https://images.immediate.co.uk/production/volatile/sites/22/2019/12/Dartmoor-night-sky-a0ac0bc-scaled.jpg" />

            </div>
            <div class="link">
                <div class="link-item">
                    <a href=""><h3>Where is best to stargaze?</h3></a>
                    <a href=""><img src="https://www.jetsetter.com//uploads/sites/7/2018/04/hmDhnKuI.jpeg" /></a>
                    <p>There are a couple of things to consider when deciding where to stargaze from and this mainly depends on what you are hoping to see.</p>
                </div>

                <div class="link-item">
                    <a href=""><h3>What can you expect to see?</h3></a>
                    <a href=""><img src="~/Image/tips_image3.jpg" /></a>
                    <p>There are many incredible sights to behold when you go stargazing.</p>
                </div>

            </div>
        </div>
    </div>
</div>

