
@{
    ViewBag.Title = "WhereGazing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/When_Star.css">
}

<div class="container">
    <div class="container-fluid">
        <!--Image-->
        <div class="Image-1">
            <h1>Where to go stargazing</h1>
        </div>

        <div class="container-midle">
            <div class="content">
                <p>There are a couple of things to consider when deciding where to stargaze from and this mainly depends on what you are hoping to see.</p>
                <br />
                <h2>How far to travel</h2>
                <br />
                <p>If you are hoping to see our Milky Way galaxy arching overhead or wanting to observe dim and distant objects through a telescope in any great detail you’ll need to travel to a location that is reasonably dark, free from the worst light pollution and on a Moonless night outside of Summertime (bright Moonlight spoils the view of starry skies and it barely gets dark during mid-Summer!).</p>
                <br />
                <p>If however, you’d rather not travel too far, or if the weather is looking promising however there is going to be Moonlight illuminating the sky, the opportunity still exists from urban or suburban areas to observe the moon, planets and even some of the brighter deep-sky objects, all of which look fantastic through a telescope!</p>
                <br />
                <p>Determining where to go therefore depends on what you are hoping to see, how far you are willing to travel and what time of the year and lunar cycle it is. See our location map for some great suggestions of places to stargaze.</p>
                <br />
                <img src="https://gostargazing.co.uk/wp-content/uploads/2021/04/how-far-to-travel-stargazing.jpg" />
                <br /><br />
                <h2>Escape from light pollution</h2>
                <br />
                <p>
                    To see the skies at their very best you need to get away from our light-polluted towns and cities, driving just a few miles out of town to semi-rural areas can make a huge difference. All of the locations we feature on our website have an estimate of the local light pollution levels and give an example of how the skies might look from that venue.
                    To get the best views of our star-filled Milky Way galaxy requires finding a really dark sky site and for most people that means travelling some distance.
                </p>
                <br />
                <h2>Dark Sky Discovery Sites</h2>
                <br />
                <p>These are officially recognised and designated dark sky locations that are accessible to the public, often without charge. Some sites have facilities such as 24-hour access toilets, most have free overnight parking, all of them do not allow overnight camping. A map of such locations can be seen on our dark sky sites in the UK page.</p>
                <br />
                <h2>Observatories</h2>
                <br />
                <p>There are a surprising number of observatories across the UK that opens their doors to the public, some do so free of charge or with minimal cost, others take advantage of the boom in ‘Astro-tourism’ and charge somewhat of a premium.</p>
                <br />
                <p>Many observatories are run on a volunteer basis by local astronomers with regular open evenings accessible to the public often for a small fee or donation if not free of charge. Some observatories are quite remote and benefit from a really dark sky location however most are located within reasonable travel distance from towns and cities.</p>
                <br />
                <p>It’s possible to get good views through telescopes of some of the brighter objects in the sky even from light-polluted areas, so don’t dismiss your local observatory if you have one on your doorstep!</p>
                <br />
                <img src="https://gostargazing.co.uk/wp-content/uploads/2016/09/seething-observatory.jpg" />
                <br /><br />
                <h2>Astronomical Societies and Astronomy Clubs</h2>
                <br />
                <p>
                    These locations tend to be meeting places or favourite observing spots for local astronomical societies and clubs, all of whom are very welcoming to members of the public. Attending a meeting is often free or for a negligible donation and almost always involve an observing session should the weather be favourable. We always recommend contacting
                    the respective organisation to confirm your attendance before you go along.
                </p>
                <br />
                <h2>Private venues</h2>
                <br />
                <p>
                    Finally, there are many stargazing venues that organise ad-hoc stargazing events and are accessible only during these events — these locations appear on the events map only when they have an event scheduled.
                    If you’re set on where to go, how about some advice on what to take with you?
                </p>



            </div>
            <div class="link">
                <div class="link-item">
                    <a href="@Url.Action("WhenGazing","Home")"><h3>When is best to stargaze?</h3></a>
                    <a href="@Url.Action("WhenGazing","Home")"><img src="https://localhost:44317/Image/tips_image1.jpg" /></a>
                    <p>Here we share hints and tips on making your stargazing trip worthwhile and help you choose when is the best time to go stargazing.</p>
                </div>

                <div class="link-item">
                    <a href="@Url.Action("WhatSeeGazing","Home")"><h3>What can you expect to see?</h3></a>
                    <a href="@Url.Action("WhatSeeGazing","Home")"><img src="https://localhost:44317/Image/tips_image3.jpg" /></a>
                    <p>There are many incredible sights to behold when you go stargazing.</p>
                </div>

            </div>
        </div>
    </div>
</div>



