<div class="footer-toolbar">
    <div class="footer-left">
        <div class="footer-left__title">
            <p><a href="#"><img class="logo-footer" src="~/Image/logo-removebg-preview.png" /></a></p>
            <a href="#" class="footer_cpname">SKY GAZING</a>
        </div>
        <br />
        <div>
            <p style="color: white">For general enquiries please email <br /> <a class="email">infor@skygazing.com</a> and <br /> we will get back to you</p>
        </div>
        <br /><br />
        <div class="footer-icon">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
        </div>
    </div>
    <div class="footer-right">
        <div class="footer-right__title">
            <p>Advice</p><br />
            <p><a href="">When to go stargazing</a></p><br />
            <p><a href="">Where to go stargazing</a></p><br />
            <p><a href="">What to take stargazing</a></p><br />
            <p><a href="">What to see stargazing</a></p><br />
            <p><a href="">Dark sky calendar</a></p>
        </div>
        <div class="footer-right__title">
            <p>Locations</p><br />
            <p><a href="">Stargazing regions</a></p><br />
            <p><a href="">Dark sky sites</a></p><br />
            <p><a href="">Observatories</a></p><br />
            <p><a href="">Astronomy groups</a></p><br />
            <p><a href="">Stay & gaze</a></p>
        </div>

        <!--Footer Map-->
        <div class="footer-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.72971336566!2d105.84690551488298!3d21.003468986012106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac428c3336e5%3A0xb7d4993d5b02357e!2sAptech%20Computer%20Education!5e0!3m2!1svi!2s!4v1677996873258!5m2!1svi!2s" width="410" height="280" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
